/* Post Page */
.post{
    color: white;
    width: 100%;
    padding: 4rem;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.632),rgba(0, 0, 0, 0.977)), url('./5.jpg');
    background-size: cover;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Ubuntu';
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.post-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post .back{
    position: absolute;
    top: 10%;
    left: 10%;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}

.post .back:hover{
    color: rgb(255, 158, 3);
}

.post-title{
    margin-bottom: 2rem;
    font-family: "Bebas Neue";
    font-size: 3rem;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
}

.post .des{
    margin-top: 2rem;
    padding: 0 16rem;
    line-height: 1.5em;
    text-indent: 2rem;
    text-align: justify;
}

.post .des p{
    margin-bottom: 1rem;
}

.post .des span{
    font-weight: bold;
    color: rgb(255, 158, 3);
    text-transform: uppercase;
}

.post-tech{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-tech span{
    padding: 0 1rem;
}

/* Image sizes of different posts */
.pic1{
    width: 45%;
    height: auto;
    border-radius: 20px;
}

.pic2{
    width: 45%;
    height: auto;
    border-radius: 20px;
}

.pic3{
    width: 60%;
    height: auto;
    border-radius: 20px;
}

.pic4{
    width: 40%;
    height: auto;
    border-radius: 20px;
}

.pic5{
    width: 40%;
    margin-bottom: 1rem;
    height: auto;
    border-radius: 20px;
}


/* Screen sizes for Desktop devices */
@media screen and (max-width: 1280px) {
    .post .des{
        padding: 0 8rem;
    }
}

/* Screen sizes for Tablets */
@media screen and (max-width: 768px) {
    .post{
        padding: 2rem;
        height: 100vh;
    }

    .post-title{
        font-size: 2rem;
        
    }

    .post .des{
        padding: 0 2rem;
    }

    .post-tech span{
        padding: 0 10px;
    }

    /* Image sizes of different posts */
    .pic1{
        width: 80%;
        border-radius: 10px;
    }

    .pic2{
        width: 80%;
        border-radius: 10px;
    }

    .pic3{
        width: 70%;
        border-radius: 10px;
    }

    .pic4{
        width: 70%;
        border-radius: 10px;
    }

    .pic5{
        width: 70%;
        border-radius: 10px;
    }
}

/* Screen sizes for Mobile devices */
@media screen and (max-width: 480px) {
    .post{
        padding: 2rem 1rem;
        padding-top: 2.5rem;
        height: auto;
        font-size: 10px;
    }

    .post-container{
        margin: 0;
    }

    .post .back{
        top: 10%;
        left: 0%;
    }

    .post-title{
        margin-bottom: 1rem;
        text-align: center;
        font-size: 15px;
    }

    .post .des{
        margin-top: 1rem;
        padding: 0;
    }

    .post-tech{
        text-align: left;
    }
    
    /* Image sizes of different posts */
    .pic1{
        width: 80%;
        border-radius: 10px;
    }

    .pic2{
        width: 70%;
        border-radius: 10px;
    }

    .pic3{
        width: 70%;
        border-radius: 10px;
    }


    .pic4{
        width: 70%;
        border-radius: 10px;
    }

    .pic5{
        width: 70%;
        border-radius: 10px;
    }
}