body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 15px;
  background-image: linear-gradient(to right, rgb(0, 0, 0),rgba(0, 0, 0, 0.616));
  background-repeat: no-repeat;
  background-size: cover; /* 确保背景填充 */
  overflow-x: hidden; /* hide horizontal scrollbar */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* element do not change size */
}

:root{
 /* varible scale */
  --width-df: min(300px, 90vw);
  /* varible hero */
  --diameter: 500px;
  --rotate: 0;
}

/* font */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
